
mixin video(video)

    div.video
        a(href=`/video/${video.id}`)
            img.videoThumb
            div.title=video.title
            div.views=video.views
        div.date=video.createdAt
