//config
@import "./config/_variables";
@import "./config/reset.scss";
//componentes
@import "./components/header.scss";
@import "./components/form.scss";
@import "./components/sidebar.scss";
@import "./components/videoGrid.scss";
//screens
@import "./screens/login.scss";
@import "./screens/join.scss";
@import "./screens/profile.scss";
@import "./screens/watch.scss";
@import "./screens/comment.scss";
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: black;
  width: 100%;
  color: white;
  height: 100vh;
}
main {
  background-color: black;
  display: grid;
  grid-template-columns: min-content 1fr;
  height: 100%;
  width: 100%;
  position: relative;
  top: 55px;
}

a:hover {
  color: $logo;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #323232;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-200px);
    opacity: 0;
  }
}

.message {
  animation: goAway 1s ease-in forwards;
  animation-delay: 1s;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 10px;
  margin: 0 auto;
  max-width: 200px;
  padding: 20px;
  border-radius: 100px;
  background-color: red;
  .error {
    color: white;
  }
}
