.header_container {
  background-color: $nav_color;
  border-bottom: 0.5px solid rgb(75, 73, 73);
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  font-size: 25px;
}
.fa-list {
  padding-left: 20px;
  &:hover {
    cursor: pointer;
  }
}

.header_home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
  font-size: 20px;
  padding-right: 10px;
  .fa-youtube {
    color: $logo;
    font-size: 40px;
    margin: 0px 5px;
  }
  .country {
    font-size: 12px;
    position: relative;
    top: -5px;
  }
}

.search_form {
  width: 90%;
  height: 90%;
  //padding: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    background-color: #323232;
    border-style: none;
    width: 30px;
    height: 28px;
  }
  input {
    &[type="text"] {
      width: 30%;
      height: 28px;
      padding: 0px 10px;
      transition: 0.3s ease-in-out;
    }
    &button {
      background-color: $nav_color;
    }

    &[type="text"]:focus {
      width: 100%;
    }
  }
}

.right_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 15px;

  a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div {
      color: $nav_color;
      font-size: 12px;
      margin-top: 3px;
      padding: 0px 5px;
    }
    &:hover {
      div {
        color: $logo;
      }
    }
  }
}
