doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="/assets/js/main.js" defer)
        script(src="/assets/js/sidebar.js" defer)
        script(src="https://kit.fontawesome.com/231f35540a.js" crossorigin="anonymous" defer)
        
        title #{pageTitle}
        link(rel="stylesheet", href="/assets/css/styles.css")
    body
        include partials/header.pug        
        main
            include partials/sidebar.pug            
            block content

        
        