extends base

block content
    div.empty
    div.formContainer
        form(method="post" )
            label(for="video") Edit Video Information
            input(type="text", placeholder="Title", name="title", maxlength=20, required, value=video.title)
            input(type="text", placeholder="Describtion", name="description", maxlength=50, required, value=video.description)
            input(type="text", placeholder="Hashtag", name="hashtag", maxlength=20, required, value=video.hashtag.join())                
            input(type="submit", value="Edit Video")