extends base

block content
    div.formScreen
        div.errorMessage
            if errorMessage
                span=errorMessage
        div.formContainer 
            form(method="post").joinForm
                span Join YouTube
                input(type="text", placeholder="name", name="name", required)
                input(type="text", placeholder="username", name="username", required)
                input(type="password", placeholder="password", name="password", required)
                input(type="password", placeholder="password", name="password2", required)
                input(type="email", placeholder="email", name="email", required)
                input(type="submit", value="Join")
                div.socialBox
                                    div.lineBox
                                        div.line
                                        div.text or
                                        div.line                        
                                    a(href="gitLogin") Login With GitHub        
                                    a(href="google") Login with Google
    
