extends base

block content
    div.formScreen
        div.errorMessage
            if errorMessage
                span=errorMessage
        div.formContainer
            form(method="post").testForm
                span YouTube Login
                input(type="text", placeholder="username", name="username", required)
                input(type="password", placeholder="password", name="password", required)
                input(type="submit", value="Login")
                div.socialBox
                    div.lineBox
                        div.line
                        div.text or
                        div.line                        
                    a(href="gitLogin") Login With GitHub        
                    a(href="google") Login with Google