extends base

block content
    div.formContainer
        div.formScreen 
            form(method="post", enctype="multipart/form-data" )
                
                span 
                    label(for="video") Upload Video
                input(type="file", name="videoFile", id="video", accept="video/*", required)
                span 
                    label(for="thumbnail") Upload Thumbnail
                input(type="file", name="thumbnailFile", id="thumbnail", accept="image/*", required)
                input(type="text", placeholder="Title", name="title", maxlength=20, required)
                input(type="text", placeholder="Describtion", name="description", maxlength=20, required)
                input(type="text", placeholder="Hashtag", name="hashtag", maxlength=20, required)                
                input(type="submit", value="Upload")

