div.header_container
    if !video
        div#list
            <i class="fas fa-bars"></i>
    
    a(href="/").header_home
        i(class="fab fa-youtube") 
        span.logo YouTube
        span.country KR

    form(action="/").search_form
        input(type="text", placeholder="Search by Title", name="key")
        button
            <i class="fas fa-search"></i>

    div.right_box
        if loggedInUser
            div
                a(href="/logout")
                    <i class="fas fa-sign-out-alt"></i>
                    div Logout
            div
                a(href="/video/upload")
                    <i class="fas fa-file-upload"></i>
                    div Upload
            div
                a(href=`/user/${loggedInUser._id}`)
                    if loggedInUser.avatarUrl === ""
                        <i class="fas fa-user"></i>
                    else
                        img(src=loggedInUser.avatarUrl width=30, height=25)
                    div Profile
        else
            div
                a(href="/login")
                    <i class="fas fa-sign-in-alt"></i>
                    div Login
            div
                a(href="/join")
                    <i class="fas fa-file-signature"></i>              
                    div Join

