ul.header_container
    li 
        a(href="/").header_home
            i(class="fab fa-youtube") 
            span.logo YouTube
            span.country KR
    if loggedInUser
        li 
            a(href="/logout") Logout
        li 
            a(href="/video/upload") Upload 
        li 
            a(href=`/user/${loggedInUser._id}`) Profile                    
    else
        li 
            a(href="/login") Login
        li 
            a(href="/join") Join               

