div.nav#box
    a(href="/").icon
        <i class="fas fa-home"></i>
        div.icon_desc Home
    a(href="/").icon
        <i class="fas fa-compass"></i>
        div.icon_desc Discover
    a(href="/").icon
        <i class="fas fa-film"></i>
        div.icon_desc Subcribed
    a(href="/").icon
        <i class="fas fa-photo-video"></i>
        div.icon_desc Library
        
    

