div.nav#box
    a(href="/").icon
        <i class="fas fa-home fa-xs"></i>
        div.icon_desc Home
    a(href="/").icon
        <i class="fas fa-compass fa-xs"></i>
        div.icon_desc Discover
    a(href="/").icon
        <i class="fas fa-film fa-xs"></i>
        div.icon_desc Subcribed
    a(href="/").icon
        <i class="fas fa-photo-video fa-xs"></i>
        div.icon_desc Library
        
    

